{% extends 'core/base.html' %}
{% block title %} Add {% endblock title %}
{% block css%}

.form
{

    transform:translate(330px,20px);
}
{% endblock%}
{% block main_content %}

<section class="container">
    <div class="row justify-content-around  text-center text-white mt-5">
        <div class="col-sm-8 ">
            <h3>CRUD PROJECT IN PYTHON DJANGO </h3>
        </div>
    </div>
    <div class="row  form">
        <div class="col-sm-5">
           <form action ="" method="POST" class="bg-white p-3 rounded shadow">
               {% csrf_token %}
               {{form.as_p}}

               <input type="submit" value="Submit" class="btn btn-primary">

           </form>
        </div>
    </div>
</section>


{% endblock main_content %}